h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 240201524 - 4]
        p.mb-0 Establecer procesos de enriquecimiento lexical y  acciones de mejoramiento en el desarrollo de procesos comunicativos según requerimientos del contexto.
        





