.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Digital:
            | perteneciente o relativo a los dedos. Dicho de un dispositivo o sistema: que crea, presenta, transporta o almacena información mediante la combinación de bits. Que se realiza o trasmite por medios digitales. 
        hr
        p
            strong.mr-2 Léxico:
            | enriquecimiento lexical. Que expresa contenidos o conceptos propios del léxico, por oposición a los característicos de la gramática.RAE (2020). 

        hr
        p
            strong.mr-2 Norma:
            | regla que se debe seguir o a que se deben ajustar las conductas, tareas, actividades, etc. RAE (2020).
        hr
        p
            strong.mr-2 Párrafo:
            | fragmento de un texto en prosa constituido por un conjunto de líneas seguidas y caracterizado por el punto y aparte al final de la última. RAE (2020).     
        hr
        p
            strong.mr-2 Texto:
            | enunciado o conjunto coherente de enunciados orales o escritos. Todo lo que se dice en el cuerpo de una obra manuscrita o impresa, a diferencia de lo que en ella va por separado; como las portadas, las notas, los índices, etc. RAE (2020). 