.container#page-introduccion

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.mb-3 
          .jumbotron 
            .row.justify-content-center.align-items-centers             
              .col
                p.mb-0 El siguiente video presenta una introducción al curso Generalidades SARS-2 COVID-19, lineamientos técnicos y operativos, y lo que supone la llegada de las vacunas al país.
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8SfRsYAHaWc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

      .row.justify-content-center
        .col-12.mt-5
            img(src="assets/images/pages/intro/intro_01.png", alt="", style="width:100%")           

        
