.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Sánchez, Lobato (2007). Saber escribir. Editorial Aguilar. 
                    td PDF
                    td 
                        a(href="media/documentos/Saber_Escribir.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver        