.container#tema_2

    .header-ecored
      h1 2. Comunicación digital actual

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="", style="width:100%;")
        .chapter__body
          p.mb-0 La potencia de las redes digitales no requiere presentación ya que en la actual sociedad de la información, se cuenta con todas las ayudas tecnológicas que hacen posible comunicarse con todas las personas de manera sincrónica, a continuación se hace el enunciado de algunas formas comunes de trabajo actual.     

      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Utilización de aplicaciones digitales        

      .row.justify-content-around.align-items-center.mb-5        
        .col-12.col-lg-10.col-xl-7.order-last.order-xl-first 
          p La tecnología ha propiciado cambios en la forma de comunicación entre personas de todas las edades, teniendo a disposición un abanico de posibilidades en cuanto a herramientas tecnológicas se refiere, aspecto que ha acelerado la velocidad de los mensajes siendo además asequibles en todos los ámbitos de la vida humana.
          p Para el caso que ocupa este curso, se enfocará la utilización de herramientas tecnológicas en contextos profesionales, ya sea desde la formación o el desempeño profesional, de manera que la asertividad caracterice la forma de emitir comunicados por medios tecnológicos.
          .jumbotron(style="background-color:#F8F7F4")
            p.mb-0 #[strong El MSM o mensaje de texto:] se debe limitar a ciento sesenta (160) caracteres que reflejen información básica de aquello que se quiere decir, por lo cual debe ser claro y conciso. 

        .col-auto.mb-5.mb-xl-0.order-first.order-xl-last 
          img(src="assets/images/pages/tema_2/img_2_1_01.svg", alt="", style="width:350px")      

      .row.mb-3
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 El chat          

        .col-12 
          p Es un diálogo en tiempo real entre dos o más interlocutores en forma de habla.
          p.mb-4 Estos dos medios se ven caracterizados por la inmediatez de la comunicación, por nuevos códigos y el estilo informal que se refleja en los escritos. Pese a ello, vale decir que dichas características no exime los textos de cordialidad, respeto, objetividad y precisión al momento de enviar cualquier tipo de mensaje, dadas estas características el chat es ideal para:

      .row.justify-content-around.align-items-center.mb-5 
        .col-auto.mb-5.mb-xl-0 
          img(src="assets/images/pages/tema_2/img_2_1_02.svg", alt="", style="width:450px")
        .col-12.col-lg-10.col-xl        
          .jumbotron.p-4.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Acordar o cancelar encuentros.
          .jumbotron.p-4.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Recordar reuniones.
          .jumbotron.p-4.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Enviar links.
          .jumbotron.p-4.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Enviar documentos derivados del actuar profesional.

      .row.mb-5 
        .col-12 
          p Es decir, se debe manejar información de interés general para los participantes del chat en el caso de un grupo. Lo que indica que se debe procurar dejar intereses personales a un lado, característica que se le dará dependiendo de los lineamientos acordados por el grupo, las normas impartidas son necesarias para el buen funcionamiento del grupo de chat y su objetivo.

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 Página web

        .col-12 
          p Una página Web es un documento digital elaborado en formato HTML (lenguaje hipertextual de etiquetado de documentos) en el que se utilizan: imágenes, texto escrito, vídeos, animaciones, links, etc. 
          p Redacción: Sánchez (2007) refiere elementos importantes en la redacción los siguientes:

      .row.justify-content-around.align-items-center.mb-5        
        .col-12.col-lg-10.col-xl.order-last.order-xl-first 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Títulos y subtítulos simples, claros y concisos.    
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Párrafos ajustados a una misma idea.    
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Uso de resúmenes y tablas de contenidos.  
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Frases cortas.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Resaltar lo importante.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Iniciar el texto con la conclusión y cerrar con los detalles.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Evitar la redundancia, omitir palabras innecesarias o poco pertinentes.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p El lenguaje informal es más adecuado.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Usar listas numeradas.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Jerarquizar la información sin perder el foco de la misma.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Combinar textos y colores de fondo que contrasten. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Evitar textos parpadeantes, dado que dificultan su lectura y pueden ser distractores.

        .col-auto.mb-5.mb-xl-0.order-first.order-xl-last 
          img(src="assets/images/pages/tema_2/img_2_1_03.svg", alt="", style="width:450px")
        

      .row.mb-3
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 Correo electrónico          

        .col-12 
          p Siguiendo a Sánchez (2007), “el correo electrónico se ha convertido en un medio de comunicación vital, y una de las aplicaciones con más alcance y éxito de internet”.
          p.mb-4 Parafraseando a Sánchez (2007) el correo electrónico cuenta con las siguientes características:

      .row.justify-content-around.align-items-center.mb-5 
        .col-auto.mb-5.mb-xl-0 
          img(src="assets/images/pages/tema_2/img_2_1_04.svg", alt="", style="width:450px")
        .col-12.col-lg-10.col-xl        
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Velocidad en la transmisión de los mensajes.
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Coste no excesivamente alto. 
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Espacio de intercambio de fotografías, música, link textos, además de mensajes escritos.
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Comunicación en corto tiempo.
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Posibilita enviar mensajes a varias personas o a un grupo, creando listas de distribución.
          .jumbotron.p-3.mb-3(style="background-color:#F8F7F4")
            .row.justify-content-center.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_2/icon_2_1_01.svg", alt="", style="width:45px")
              .col-12.col-lg
                p.mb-0 Permite reenviar un mensaje a otro receptor o responder rápidamente. 


      .row.mb-3
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 Adicional         

      .row.mb-5.mb-lg-6
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #E6F5FF;")
            .row 
              .col-12 
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p Se puede enviar con copia oculta a aquellos receptores que se desee no sean visibles.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p Con el tiempo se ha convertido en un medio de comunicación formal, que evidencia gestión administrativa, cumplimiento de deberes, #[strong transmisión] de comunicados institucionales, etc. Lo que indica que debe contestarse a la mayor brevedad aportando la información requerida, con copia a los implicados en el proceso si se considera pertinente.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Puede ser personal o institucional, para el segundo caso, los mensajes se deben ajustar exclusivamente a labores propias de lo académico o lo laboral.  

      .row.mb-3
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 Redacción del correo electrónico
              p Dadas las características anteriores, el correo electrónico debe tener mínimos para su adecuado uso:           

      .row.justify-content-around.align-items-center.mb-5        
        .col-12.col-lg-10.col-xl.order-last.order-xl-first 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p #[strong Asunto:] debe referir clara y concretamente la intención del correo.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p #[strong Nombre completo del destinatario:] cargo, empresa y ciudad. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p #[strong Asunto:] Un saludo cordial.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Contenido concreto y claro, si se requiere mayor organización del texto, se sugiere discriminar la información en puntos, de manera que cada uno mencione los temas relacionados al asunto, sin salirse del tema objeto del mensaje.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Despedida con un atentamente o cordialmente.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p #[strong Remitente:] nombre, cargo, empresa y No. de contacto de ser necesario.  

        .col-auto.mb-5.mb-xl-0.order-first.order-xl-last 
          img(src="assets/images/pages/tema_2/img_2_1_05.svg", alt="", style="width:450px")  

      .jumbotron.mb-5.mb-lg-6
        p.mb-0 Se recomienda que la fuente (letra) tenga el mismo tamaño, color y tipo, evitando mayúscula fija, de resaltar alguna parte del texto es pertinente cursiva, subrayado o negrilla, evitando mayúscula fija. La corrección ortográfica es importante y necesaria, toda vez que cada correo es carta de presentación del profesional escribiente.    

      .row.justify-content-center.align-items-center.mb-3
        .col-12.col-lg
          .header-ecored.mt-3#tema2_2
            h2 2.2 Netiqueta

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.col-lg-9
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="", style="width:100%")

      .row.mb-5
        .col-12 
          p Por tanto, netiqueta hace referencia a todo lo relacionado con el buen actuar en las redes sociales utilizadas en diversos contextos, actuar que debe estar cualificado por la comunicación asertiva a partir de la cual se transmite información de manera clara, pertinente, concreta y consciente, de manera que el buen trato hacia el interlocutor se enmarque en límites de respeto y cordialidad.
          p A fin de regular el buen actuar en las redes, se sugieren las siguientes normas objeto de implementación, complementariedad y actualización: 

      .row.mb-5.mb-lg-6
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #E6F5FF;") 
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 1.] Leer y releer el mensaje antes de enviarlo, pensando en la claridad, coherencia y pertinencia del mismo.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 2.] No escribir mensajes bajo emociones de enfado o ira, esto conllevará al inadecuado manejo de un conflicto laboral o personal.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 3.] Si se trata de responder un comunicado, contestar expresamente lo que se solicita. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 4.] Antes de enviar el mensaje es importante que se verifique que el destinatario es la persona a quien va dirigido.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 5.] Utilizar términos adecuados y formales, sin perder de vista que es un comunicado entre seres humanos. Lo que indica que por más que el canal sea la red, la forma de tratar a la otra persona es la misma que se utilizaría si fuera personal, es decir, se deben tener en cuenta las mismas normas de un trato en contexto laboral o académico. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 6.] Tener presente el tipo de red a utilizar, procurando ajustarse a la cantidad de texto requerido con claridad y precisión, esto implica que se debe pensar y estructurar muy bien el mensaje antes de escribirlo, sin dejar información para que el destinatario descifre o suponga.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 7.] Si estima identificar su red con una foto, se recomienda formalidad en esta, en donde el rostro se vea con claridad, recordando que le identifican en contextos académicos y laborales.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 8.] Si el objeto del mensaje es un reclamo o una queja, debe hacerse en los mejores términos, expresando los hechos (lista numerada en orden cronológico, por ejemplo), los perjuicios ocasionados, y por último la petición amable y respetuosa. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 9.] Siguiendo con el punto anterior, cuando se conteste una petición debe ser en el mismo historial si se trata de correo electrónico, lo que permitirá un seguimiento al caso.  Si el caso es que no se recibe respuesta del correo enviado, reenviar el correo haciendo énfasis en la petición.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 10.] Cualquier comunicado exige veracidad y envío de soportes que se estimen pertinentes, evitando caer en supuestos que motiven conflictos innecesarios. En esto vale recordar que lo escrito, escrito queda y que asegurar una información implica investigarla antes de enviarla.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 11.] En el caso de foros de discusión o comentarios a alguna publicación, es necesario mantener el respeto por la opinión opuesta, lo que implica escribir el punto de vista propio, dar aportes a modo de complemento, sin caer en el ataque hacia el otro.  
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 12.] “Todas las personas tienen derecho a su intimidad personal y familiar y a su buen nombre…” Art 15 de la Constitución Política de Colombia (1991). En las redes sociales no hay excepción a esta norma, lo que implica que no se debe publicar información personal o familiar de otros y si se estima publicar información propia, esta debe ser objeto de análisis antes de publicar, evitando caer en arrepentimientos.  
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Norma 13.] Evite caer en el humor colectivo, por medio del cual se generan burlas hacia personas que tienen una condición física determinada, fuera de lo que se estima como “normal”. Los llamados memes, en algunos casos son generadores de indignación y maltrato colectivo hacia algunas poblaciones con características físicas o culturales, que no deberían ser objeto de burla. Aquí la netiqueta debe ser, no transmitir este tipo de comunicados, partiendo de la dignidad y el respeto por el otro cualquiera que este sea, así esta cultura virtual empieza a cambiar desde estos contextos pedagógicos. 