.container#tema_1

    .header-ecored
      h1 1. Producción de textos

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%;")
        .chapter__body
          p En componentes anteriores se ha hecho énfasis en la expresión verbal y no verbal, habilidades propias de cada ser humano, inherentes a los contextos familiares y socioculturales en los que interactúa, siendo el contexto familiar, el primer nivel de socialización. 
      .row.mb-6 
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8SfRsYAHaWc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .row.justify-content-around.align-items-top.mb-5 
        .col-8.col-lg-3.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/icon_1_01.svg", alt="", style="width:100%;").mb-3
          p.mb-0 #[strong Pensar:] desde la lectura, la observación, la interpretación, organización de información, etc. 
        .col-8.col-lg-3.mb-5.mb-lg-0  
          img(src="assets/images/pages/tema_1/icon_1_02.svg", alt="", style="width:100%;").mb-3
          p.mb-0  #[strong Sentir:] desde el gusto por lo que se hace, la argumentación que denota seguridad a partir de la construcción de conocimiento. 
        .col-8.col-lg-3
          img(src="assets/images/pages/tema_1/icon_1_03.svg", alt="", style="width:100%;").mb-3
          p.mb-5 #[strong Actuar:] hablar, leer en voz alta y escribir.

      .jumbotron.mb-5.mb-lg-6(style="background-color:#FBF9F4;") 
        p.mb-0 Dicho esto, la experiencia de escribir es el resultado de lo que se piensa y se siente, dado que para escribir hay que leer y por tanto argumentar, complementar, articular, construir y reconstruir a partir de mapas, gráficos etc., es decir, que lo visto anteriormente, es el insumo para una adecuada escritura.  


      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Características del texto
        .col-12 
          p Todo texto para ser considerado como tal debe tener unas características que son las que relatamos a continuación: 

      .row.mb-5.mb-lg-6
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #E6F5FF;") 
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_1_01.svg", alt="", style="width:90px")
              .col-12.col-md              
                p.mb-0 Se enfoca en un tema determinado, ya sea para responder una pregunta, reafirmar una proposición, refutar o exponer una idea. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_1_02.svg", alt="", style="width:90px")
              .col-12.col-md                
                p.mb-0 Un texto debe ser claro, es decir, comprensible al público al que va dirigido, y de acuerdo a ello, incluir lenguaje técnico o no; según la pertinencia.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_1_03.svg", alt="", style="width:90px")
              .col-12.col-md                
                p.mb-0 Debe ser concreto, sin perder el foco del tema central, su extensión, va de acuerdo a la complejidad del tema y lo que se pretenda transmitir de este. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto 
                img(src="assets/images/pages/tema_1/icon_1_1_04.svg", alt="", style="width:90px")
              .col-12.col-md                
                p.mb-0 El texto motiva el conocimiento de quien lee, ya sea porque genera inquietudes nuevas, complementa saberes, responde una pregunta o necesidad, debe ser un texto útil para el lector.


      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Tipos de textos - análisis literario
        .col-12 
          h3(style="color:#3487AD;") Contexto, autor, mensaje
          p Escribir, es un ejercicio enriquecedor, que sugiere investigación, construcción de conocimiento, mirada crítica y autocrítica; y atracción por el tema sobre el que se escribe. Por tanto, hacer análisis literario de las fuentes que se consultan, es sumamente importante al momento de vincular autores al texto que se está elaborando. Análisis literario implica: evaluar la calidad del texto, en cuanto a claridad en el tema; argumentación del mismo; estilo del texto; lenguaje utilizado, de manera que se posibilite la comprensión de textos consultados. 
          p Al momento de consultar el texto, se hace necesario tener en cuenta tres elementos clave:

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")
        .row 
          .col-12 
            img(src="assets/images/pages/tema_1/info_1_2_01.svg", alt="", style="width:100%")
      
      .row.mb-3
        .col-12 
          p Lo anterior, aplica para textos científicos, académicos o libros, no aplica para páginas de internet informales, toda vez que estas pueden tomar diferentes fuentes, por tanto, la veracidad no es contundente.
          p Es subjetivo reducir los textos a tipos para su clasificación, sin embargo a continuación se hace una clasificación que puede tener en cuenta en su avance como escritor:

      .row.justify-content-center.align-items-center.mt-6.mb-5.mb-lg-6
        .col-8.col-lg-4.mb-6.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_2_01.svg", alt="", style="width:100%")
        .col-8.col-lg-4.mb-6.mb-lg-0
          .verticalCard         
            .verticalCard__title  
              h3 Textos científicos o técnicos se subdividen en:   
            .verticalCard__body             
              .list.mb-3
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos periodísticos informativos.
              .list.mb-3
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos periodísticos de opinión.
              .list
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos periodísticos mixtos.

        .col-8.col-lg-4
          .verticalCard     
            .verticalCard__title  
              h3 Textos literarios:       
            .verticalCard__body              
              .list.mb-3
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos líricos.
              .list.mb-3
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos narrativos.
              .list
                .list__item
                  .list__item__icon.mt-2
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Textos dramáticos.


      .row.mb-5
        .col-12 
          p.mb-0 Para el caso que nos ocupa en este recurso de comunicación oral y escrita, se hará relevancia en los textos científicos o técnicos y en textos narrativos.

      .imgTopBar 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/documentos/Infografia_comunicacion.pdf", target="_blank").imgTopBar_link 
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px")          
      .row.mb-6.justify-content-center.align-items-center
        .col-12
          img(src="assets/images/pages/tema_1/info_1_2_01.png", alt="", style="width:100%") 
      
      
      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Importancia y utilización de los signos de puntuación

      .row.mb-6 
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ght6UKeaeMA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')         

      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_4
            h2 1.4 Concepto de párrafo, tipos de párrafo y formas para estructurar párrafos
        .col-12 
          p.mb-5 Según la Real Academia de la Lengua Española RAE (2019), un párrafo es el “fragmento de un texto en prosa constituido por un conjunto de líneas seguidas y caracterizado por el punto y aparte al final de la última”. A esto se suma que el párrafo empieza con letra mayúscula y las líneas seguidas, se configuran como frases.
          h2.text-center(style="color:#3487AD;") En la construcción de un párrafo, de deben tener en cuenta elementos básicos como: 

      .row.mb-5.mb-lg-6
        .col-12       
          .wrapper(style="padding:2rem; border: 5px solid #3487AD; border-radius:25px") 
            .row.justify-content-center.align-items-center              
              .col-12                
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Articulación con párrafo anterior o posterior. De manera que se articule con la globalidad del escrito.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Utilización apropiada de conectores.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Adecuada puntuación que conlleve a la claridad y comprensión. 
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Tener claridad del tipo de texto para definir su estructura.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Se debe releer verificando que no se repitan palabras o se presenten pleonasmo.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Verificar que la idea sea coherente, es decir, que no haya contradicciones.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Diferenciar una frase de un párrafo, lo que indica que el contenido del párrafo es la unión de frases, separadas por signos de puntuación.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Tener clara la idea que se va a transmitir en el párrafo, complementando, ampliando o trasladando a un nuevo subtema, iniciando o finalizando el escrito. Esto a fin de evitar hacer comentarios innecesarios o rodeos que desconecten al lector.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Cada párrafo debe cerrar de manera adecuada una idea o un tema, de manera que no se corte abruptamente el tema del que se esté escribiendo. 
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 La extensión depende del tipo de texto, sin embargo para textos técnicos y narrativos, es recomendable no exceder la escritura en cada párrafo.
                .hr-divider.my-4(style="background-color:#AACBDB;")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 En caso de complementar el escrito con voces de especialistas, según consultas o referencias, es deber ético y profesional (como se ha manifestado) hacer la referencia correspondiente. 

      .row.justify-content-center.align-items-top.mt-6.mb-5.mb-lg-6
        .col-12.col-lg-4.mb-6
          .verticalCard
            .verticalCard__title  
              h3 Párrafo de enumeración
            .verticalCard__body        
              img(src="assets/images/pages/tema_1/icon_1_2_01.svg", alt="")      
              p.text-center Constituido por una lista de propiedades que describen un mismo objeto, hecho o idea y por una frase organizadora (antes o después del párrafo) que indica al lector la estructura del párrafo.
        .col-12.col-lg-4.mb-6
          .verticalCard 
            .verticalCard__title  
              h3 Párrafo de comparación /contraste
            .verticalCard__body        
              img(src="assets/images/pages/tema_1/icon_1_2_02.svg", alt="")      
              p.text-center Indica las semejanzas y diferencias entre dos más objetos, ideas o personas, comparándolos, según cierto número de categorías.
        .col-12.col-lg-4.mb-6
          .verticalCard 
            .verticalCard__title  
              h3 Párrafo de desarrollo de un concepto
            .verticalCard__body        
              img(src="assets/images/pages/tema_1/icon_1_2_03.svg", alt="")      
              p.text-center Se da una idea principal, enunciada de forma explícita, que posteriormente se reafirma por medio de ejemplos, argumentaciones. De manera que se explica, aclara, detalla o ilustra la afirmación principal.
        .col-12.col-lg-4.mb-6.mb-lg-0
          .verticalCard 
            .verticalCard__title  
              h3 Párrafo de enunciado/solución de un problema
            .verticalCard__body        
              img(src="assets/images/pages/tema_1/icon_1_2_04.svg", alt="")      
              p.text-center Plantea un problema para posteriormente solucionarlo.
        .col-12.col-lg-4.mb-6.mb-lg-0
          .verticalCard 
            .verticalCard__title  
              h3 Párrafo de causa /efecto
            .verticalCard__body        
              img(src="assets/images/pages/tema_1/icon_1_2_05.svg", alt="")      
              p.text-center Presenta un acontecimiento o una situación seguido por las razones que los han causado. 
                    
      .row
        .col-12
          .header-ecored.mt-3#tema1_5
            h2 1.5 Técnicas de redacción

      .row.customBG.justify-content-center.align-items-center.mb-5(style="border-bottom: 7px solid #B2A864; padding:0 !important;")       
        .col-12.col-lg-5.order-last.order-lg-first
          p.mt-4 La técnica para escribir textos va de acuerdo a la pretensión del escrito, por tanto, para este aparte se citarán elementos clave aportados por Sanchez (2007).
        .col-auto.order-first.order-lg-last
          img(src="assets/images/pages/tema_1/img_1_5_01.svg", alt="", style="width:250px")

      .row.mb-5.mb-lg-6 
        .col-12 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2 Texto argumentativo
              p “Para apoyar los contenidos, el escribiente se sirve de informaciones compartidas y de otras dotadas de validez objetiva y contrastada que facilite la asimilación por parte del lector”.          

      .row.justify-content-center.mb-4 
        .col-12.col-lg-11.mb-5 
          img(src="assets/images/pages/tema_1/info_1_5_01.svg", alt="", style="width:100%;")
        .col-12.mb-5 
          p.text-center También Sánchez (2007) aporta la siguiente gráfica para describir la estructura de las ideas de los textos argumentativos.
        .col-12.col-lg-11.mb-5 
          img(src="assets/images/pages/tema_1/info_1_5_02.svg", alt="", style="width:100%;")
        .col-12 
          p.mb-0 Siguiendo a Sánchez (2007), en cuanto al escrito de textos científicos o técnicos, se construye gráficamente a manera de esquema numérico o de esquema con llaves como se ve en la siguiente gráfica de proceso:

      .row.justify-content-center.mb-5 
        .col-12.col-lg-10
          .custom-jumbotron(style="--shade-color: #B2A864;") 
            .custom-jumbotron__body 
              .row.justify-content-center.align-items-center 
                .col-auto
                  p.mb-0(style="color:#B2A864; font-size:44pt; font-weight:800") 1
                .col
                  p.mb-0 #[strong Elección del tema concreto.] Si es un tema general, se debe perfilar el punto de vista desde el cual se quiere tratar, es decir, definir el tema preciso de interés para que en la búsqueda de información no se pierda el foco del escrito. Aunque no se descarta, como refiere Sánchez "en ocasiones, es necesario acudir a fuentes generales de aproximación al tema como primer paso para nuestro trabajo"
        .col-12.col-lg-10
          .custom-jumbotron(style="--shade-color: #3487AD;") 
            .custom-jumbotron__body 
              .row.justify-content-center.align-items-center 
                .col-auto
                  p.mb-0(style="color:#3487AD; font-size:44pt; font-weight:800") 2
                .col
                  p.mb-0 #[strong Recopilación de material en relación al tema,] lo que se configura como insumo básico  para el trabajo, las fuentes deben ser diferentes, de manera que la mirada hacia el tema sea diversa (teorías, datos estadísticos, registros fotográficos, documentos históricos o memorias, tesis, etc Esto indica que la bibiliografía debe ser variada y actualizada en el caso de datos. Para buscar fuentes se recomienda ver bibliografias de textos relacionados con el tema., chequear catálogos de bibliotecas, además de buscadores en la Web, los cuales debe ser argumetados y veraces.  
        .col-12.col-lg-10
          .custom-jumbotron(style="--shade-color: #48B1E2;") 
            .custom-jumbotron__body 
              .row.justify-content-center.align-items-center 
                .col-auto
                  p.mb-0(style="color:#48B1E2; font-size:44pt; font-weight:800") 3
                .col
                  p.mb-0 #[strong Ordenar documentos o información consultada,] para ello se sugiere hacer una matriz en donde se categoricen las lecturas, se refieran datos bibliográficos y las ideas principales de los aspectos a resaltar ya sea de manera textual o parafraseada. Otro aparte sería su propio juicio de valor, como refiere Sánchez "elabore argumentaciones que corroboren la tesis que se está escribiendo" P. 453.
        .col-12.col-lg-10
          .custom-jumbotron(style="--shade-color: #375982;") 
            .custom-jumbotron__body 
              .row.justify-content-center.align-items-center 
                .col-auto
                  p.mb-0(style="color:#375982; font-size:44pt; font-weight:800") 4
                .col
                  p.mb-0 #[strong  Unificar reflexiones surgidas de la lectura del material.]  Elaborar un esquema de lo recopilado es un ejercicio que da profundidad, coherencia y orden al escrito. Lo que quiere decir: primero,  se ordenan las ideas, se argumentan y después se da inicio al escrito.

      .row.mb-5.mb-lg-6 
        .col-12 
          p.mb-0 En líneas generales acá se presenta la caracterización de las técnicas más usadas de redacción, sin embargo usted como aprendiz puede revisar la lectura adicional que se encuentra con el nombre de “Saber escribir” de Jesús Sanchez (2007). 

      .row.mb-4
        .col-12
          .header-ecored.mt-3#tema1_6
            h2 1.6 Conociendo las normas APA de manera sencilla
        .col-12 
          p #[strong APA] son siglas que hacen referencia a la abreviación de la #[strong Asociación Americana de Psicología (American Psichological Associatión en inglés).] Las normas APA, están consignadas en un manual.  Se construyen algunas de sus funciones. 

      .row.justify-content-around.align-items-center.mb-5 
        .col-auto.mb-5.mb-xl-0 
          img(src="assets/images/pages/tema_1/img_1_6_01.svg", alt="", style="width:350px")

        .col-12.col-lg-10.col-xl
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Estandarizar la presentación de documentos técnicos y científicos del universo académico.
          .hr-divider.my-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Organiza el material consultado y citado por estudiantes, profesores e investigadores.
          .hr-divider.my-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Apoyar las múltiples formas en que las personas se comunican a partir de escritos.
          .hr-divider.my-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 El manual simplificó la forma como se deben mostrar fuentes consultadas, DOI y URL.
          .hr-divider.my-3
          .h3.mt-4 Acondicionado: 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p Las normas APA facilitan la creación y comprensión de documentos, libros, revistas, folletos de naturaleza técnica o científica.          

      .row.mb-3
        .col-12.mb-5
          p Las normas APA aportan a la unificación y orden en la presentación de un documento, trabajo o escrito, invitando al lector a centrarse en el texto. Word cuenta con una pestaña “Referencias” en donde aparece “APA” y la edición, lo que indica que hay una base para citar bajo la norma, objeto de ajustes de acuerdo a la actualización de la misma. 
          p En el siguiente aparte se muestran algunos lineamientos propios de las normas, tanto para estudiantes como académicos docentes. Lo mencionado en este aparte es tomado de la Guía resumen del estilo APA - Séptima edición 2020.

        .col-12 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2.mt-1 Orden de las páginas          

      .row.justify-content-center.mb-5 
        .col-12.col-lg-9
          img(src="assets/images/pages/tema_1/info_1_6_01.svg", alt="", style="width:100%")

      .row.justify-content-center.align-items-top 
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2.mt-1 Márgenes 

        .col-auto.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/info_1_6_02.svg", alt="", style="width:350px")
        .col-12.col-lg  
          .row.justify-content-center.mb-5
            .col-12.mb-5
              .accordion#accordionExample
                .card
                  .card-header#heading1
                    h2.mb-0
                      button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Fuentes
                  .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                    .card-body
                      p #[strong Fuente Sans Serif como:]
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Calibrí 11 puntos.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0  Arial 11 puntos.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Lucida Sans Unicode 10 puntos.
                      p.mt-3 #[strong Fuente Sans Serif como:]
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Times New Roman de 12 puntos
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Georgia de 12 puntos
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Computer Modern normal (10 puntos) (la fuente predeterminada para LaTex)

                .card
                  .card-header#heading2
                    h2.mb-0
                      button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Espaciado
                  .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                    .card-body
                      p.mb-3 Doble espacio en todas las partes, incluido el resumen. 
                      p.mb-3 No agregar espacio adicional antes o después de los párrafos. 
                      p.mb-3 Se exceptúa el doble espacio en los siguientes casos: 
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Página de título.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Tablas.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Figuras.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Notas al pie.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Ecuaciones mostradas.

                .card
                  .card-header#heading3
                    h2.mb-0
                      button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Alineación de parrafo
                  .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                    .card-body
                      p El texto se alinea con el margen izquierdo; con el margen derecho se deja desigual, es decir, no se justifica.
                .card
                  .card-header#heading4
                    h2.mb-0
                      button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse4", aria-expanded="false", aria-controls="collapse4")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Sangría de párrafo
                  .collapse#collapse4(aria-labelledby="heading4", data-parent="#accordionExample")
                    .card-body
                      p Se coloca sangría a la primera línea de cada párrafo del texto a 0.5 pulgadas (1.27 cm) del margen izquierdo, se recomienda usar la tecla de tabulación y no usar la barra espaciadora.
                .card
                  .card-header#heading5
                    h2.mb-0
                      button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse5", aria-expanded="false", aria-controls="collapse5")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Encabezado de página
                  .collapse#collapse5(aria-labelledby="heading5", data-parent="#accordionExample")
                    .card-body
                      p Aparece dentro del margen superior de cada página del documento.
                .card
                  .card-header#heading6
                    h2.mb-0
                      button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse6", aria-expanded="false", aria-controls="collapse6")
                        h4.mb-0.collapsable-title.d-flex.align-items-center Números de página
                  .collapse#collapse6(aria-labelledby="heading6", data-parent="#accordionExample")
                    .card-body
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Usar la función de numeración de páginas.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Insertar números de página en la esquina superior derecha, debe aparecer en todas las páginas.
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 La página de portada o título lleva número 1.

      .row.justify-content-center.align-items-top 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2.mt-1 Formato de los títulos
              p La siguiente tabla es tomada de manera literal de la Guía resumen del estilo APA - Séptima edición 2020, en donde se definen cinco “niveles de títulos”, así:

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.col-lg-9
          img(src="assets/images/pages/tema_1/info_1_6_03.svg", alt="", style="width:100%")

      .row.justify-content-center.align-items-top 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h2.mt-1 En cuanto a las citas

      .row.justify-content-center.mb-5 
        .col-12.col-lg-7.mb-5
          img(src="assets/images/pages/tema_1/info_1_6_04.svg", alt="", style="width:100%")
        .col-12 
          p Esto implica que, desde la ética, el escritor y su formación profesional es un deber citar cada aporte que apoye sus escritos y argumentos, ya sea de manera literal o parafraseada, en este último caso no se obliga a mencionar el número de página de la que se sustrajo la idea descrita o parafraseada.
          p Es clave mencionar que en un escrito debe prevalecer el conocimiento construido por quien escribe y las citas se configuran como complemento, ampliación o afirmación de lo mencionado, esto para no caer en errores de sobre citar o sobre referir. 

      .row
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #E6F5FF;") 
            .row.justify-content-center.align-items-top  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_6_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Cita directa]
                p.mb-5 El texto citado se escribe de manera literal, no cambia absolutamente nada. En comillas se deja el texto, cuando este contiene menos de cuarenta palabras y sin comillas cuando excede las cuarenta palabras. Esta puede citarse dentro o al final de un párrafo u oración, las formas de escribir este tipo de cita son:
                .row.justify-content-center 
                  .col-12.col-lg-8.mb-5 
                    img(src="assets/images/pages/tema_1/info_1_6_05.svg", alt="", style="width:100%")                
                  .col-auto.mb-5    
                    a(href="https://www.youtube.com/watch?v=C3jNLLuFJVE&feature=youtu.be",target="_blank",style="color:#12263F")        
                      .jumbotron.mb-0.p-4(style="background-color:white;")
                        .row.justify-content-center.align-items-center
                          .col-auto
                            img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                          .col
                            p.mb-0 #[strong Recurso.] A la página en blanco se le derrota mirándola a los ojos.
                  .col-12.col-lg-8.mb-5 
                    img(src="assets/images/pages/tema_1/info_1_6_06.svg", alt="", style="width:100%")
                  .col-12.mb-5 
                    p En casos en que la cita tiene más de 40 palabras, no se utiliza comillas, se separa del párrafo con el que se relaciona, se ajusta a una sangría de tres centímetros, recomendando aquí que se disminuya el tamaño de la letra (un punto), lo cual no obliga, esto hace que se diferencie del resto del texto. Un ejemplo sería.
                  .jumbotron(style="background-color:white;")
                    .row.justify-content-center.align-items-center 
                      .col-12.col-lg 
                        p.mb-0 No había otra comida sino la que traían en las bolsas, el agua tenía que ahorrarla hasta la última gota, y con respecto a la iluminación, la suerte fue que encontraron dos velas en el armario de la cocina, guardadas allí para ocasionales apagones y que la mujer del médico encendió en su propio beneficio, que los otros no las necesitaban, ya que tienen una luz dentro de las cabezas, tan fuerte que los había cegado. (Saramago 2015, p. 287).
                      .col-auto.mb-5 
                        img(src="assets/images/pages/tema_1/info_1_6_07.png", alt="", style="width:250px") 

            .hr-divider.my-4(style="background-color:#AACBDB;")

            .row.justify-content-center.align-items-top  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_6_01.svg", alt="", style="width:65px")
              .col-12.col-md              
                p.mb-0 #[strong Cita indirecta]
                p.mb-5 Como lo expresa la Universidad Nacional (2020) “hace mención de las ideas de un autor con palabras de quien escribe. Se escribe dentro del texto, sin comillas, y el número de la referencia se escribe después del apellido del autor y antes de citar su idea.
             
                .row.justify-content-center.align-items-center 
                  .col-auto.mb-5.mb-lg-0 
                    img(src="assets/images/pages/tema_1/info_1_6_08.svg", alt="", style="width:250px") 
                  .col-12.col-lg 
                    p.mb-0 #[strong Ejemplo]
                    .hr-divider.my-3(style="background-color:#AACBDB;")
                    p Para Kostoff1 las citas representan los cimientos intelectuales anteriores sobre lo que sustenta un trabajo de investigación y, por tanto, el trabajo citado supone un escalón en el desarrollo del conocimiento científico.
                    .jumbotron.mb-3(style="background-color:white;")
                      p.mb-0 #[i 1. KOSTOFF, RN. The use and misuse of citation analysis in research evaluation. En: Scientometrics. Budapest, 1998. Vol. 43, no.1. p.28”]
                    p.mb-0 Es decir que todo el material que no sea de su autoría debe estar citado de forma correcta porque de lo contrario no se puede usar ya que se incurre en problemas legales de derechos de autor.



        
              
